ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

ul.pagination li.page-item.active span.page-link {
  color: black !important;
  background-color: white !important;
  border-color: skyblue !important;
}

span.page-link {
  padding: 0.75rem 1rem;
  min-width: 9.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: skyblue !important;
  color: black;
  font-weight: 900;
  font-size: 1rem;
}

span.page-link:hover {
  background-color: lightgray;
}
