.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: skyblue;
  height: 8vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: left;
  padding-left: 10px;
  line-height: 2.2;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
